.root {
    width: 25%;
    height: 100vh;
    background-color: white;
    color: black;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-right: 8px solid rgb(231, 226, 226);
  }

  .rootTemp {
    width: 6em;
    height: 100vh;
    background-color: white;
    color: black;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .headingContainer {
    display: flex;
    width: 100%;
    align-items: center;
    background-color: white;
    justify-content: space-between;
  }

  .headingTemp {
    display: none;
  }

  .heading {
    font-weight: 600;
  }

  .list {
    color: black;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .xyz {
    cursor: pointer;
  }

  .xyz:hover {
    color: rgb(53, 197, 111);
  }

  .abc {
    cursor: pointer;
  }

  .menuTemp {
    font-size: 18px;
  }

  .menu {
    margin-top: 10px;
    font-size: 20px;
  }