.root {
    height: 90vh;
    background-color: white;
    color: black;
    padding: 1rem 2rem;
}

.example::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .example {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    overflow-y: scroll;
    height: 60vh;
    width: 65%;
    padding: 0 5px;
    margin-top: 10px;
    margin-right: 5px;
  }

  .scrollable::-webkit-scrollbar {
    display: none;
  }

  .scrollable {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    overflow-y: scroll;
    width: 35%;
    height: 60vh;
    border-radius: 20px;
    border: 2px solid grey;
    padding: 10px;
  }

  .agencyDetails {
    width: 100%;
    background-color: rgb(211, 243, 217);
    margin-bottom: 15px;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
  }

  .acceptRejectBtn {
    display: flex;
    gap: 10px;
  }

  .btns {
    padding: 5px 15px;
    border-radius: 15px;
    border: none;
    color: white;
  }

  .btns:hover {
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
  }

  .reject {
    background-color: red;
  }

  .accept {
    background-color: rgb(26, 255, 0);
    color: black;
  }

  /* <div style={{width: "35%", backgroundColor: "", borderRadius: "20px", border: "2px solid grey" */