.applyButton {
    cursor: pointer;
    background-color: rgb(201, 77, 77);
    color: white;
    border: none;
    padding: 0.5rem;
    border-radius: 50px;
}

.applyButton:hover {
    background-color: coral;
}